body {
    background-color: rgb(77, 24, 162);
    color: white;
    box-sizing: border-box;
}

#survey-form {
    max-width: 500px;
    min-width: 300px;
    width: 500px;
    background-color: rgb(99, 47, 184);
    margin: 0 auto;
    padding: 30px;
    border-radius: 5px;
}

h1,
p {
    text-align: center;
    margin: 2rem 0;
}



label {
    display: block;
    margin-bottom: 1rem;
}

input {
    display: block;
    padding: .5rem .5rem;
    margin-top: .5rem;
    width: 100%;
}


#dropdown {
    padding: .5rem .5rem;
    margin-top: .5rem;
    width: 100%;
}

fieldset input {
    display: block;
    padding: .5rem .5rem;
    margin-top: .5rem;
    width: 100%;
}